<footer>
<div class="container">
<div class="footer-top">
<div class="footer-logo"><h2>GameShop</h2></div>
<div class="footer-links">
<ul>
<li><a href="#">Игры</a></li>
<li><a href="#">Программы</a></li>
<li><a href="#">Рекомендации</a></li>
</ul>
<ul>
<li><a href="#">Пользовательское соглашение</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">Контакты</a></li>
</ul>
</div>
<div class="footer-contact"><p>Поддержка</p><a href="mailto:hello@dolor.ru">hello@dolor.ru</a></div>
</div>
<div class="social-links">
<a href="#"><i class="fab fa-telegram"></i></a>
<a href="#"><i class="fab fa-instagram"></i></a>
<a href="#"><i class="fab fa-youtube"></i></a>
</div>
</div>
</footer>